
/* Import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*
Green: #6A7356
Brown: #BFA07A
Light-Brown: #D9D1C7
*/

/* General styles */

:root {
    --green: #6A7356;
    --brown: #BFA07A;
    --lightbrown: #D9D1C7;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav img {
    height: 75px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

footer {
    height: 8vh;
    background-color: var(--green);
}

/* Class styles */

.about {

}

.about h1 {
    text-align: center;
}
.button-group {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    outline: none;
    border: none;
    height: 35px;
    width: 100px;
    border-radius: 15px;
    text-decoration: none;
    background-color: var(--brown);
    color: #ffffff;
    margin: 3%;
    cursor: pointer;
    font-size: 1.2rem;
}

.btn.lrg {
    height: 55px;
    width: 150px;
    font-size: 1.5rem;
    border-radius: 20px;
}

.hero-section {
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("./images/background.JPG");
}

.hero-section h1 {
    font-size: 2rem;
    text-align: center;
    padding: 1%;
}

.market {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

.market h1 {
    font-size: 2rem;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green);
    padding: 0 5%;
}
 
.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
}

.navbar-links li a.active {
    color: var(--lightbrown);
}

.navbar-links li:hover {
    background-color: var(--brown);
    border-radius: 15px;
    transition-duration: 1s;
}

.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* Store Cards */ 

.paitings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.card-sale {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.paiting-card {
    width: 225px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 300px;
    margin: 5%;
}

.paiting-card img {
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 769px) {

    .about {
        margin: 0 auto;
        height: 65vh;
        padding-top: 5%;
    }

    .about h1 {
        font-size: 2rem;
        letter-spacing: 5px;
        line-height: 4rem;
        text-align: center;
    }

    .about img {
        width: 50%;
    }

    .about-paragraph {
        flex-direction: row;
    }

    .about-paragraph p {
        font-size: 1rem;
    }

    .hero-section h1 {
        font-size: 3rem;
    }
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        transition: opacity 1s ease-out;
        opacity: 0;
        height: 0;
        overflow: hidden;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
        opacity: 1;
        height: auto;
    }
}



