
/* Import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*
Green: #6A7356
Brown: #BFA07A
Light-Brown: #D9D1C7
*/

/* General styles */

:root {
    --green: #6A7356;
    --brown: #BFA07A;
    --lightbrown: #D9D1C7;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav img {
    height: 75px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

footer {
    height: 10vh;
    width: 100vw;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Class styles */

.about {
    text-align: center;
    padding: 0 5%;
}

.about hr {
    width: 35px;
    margin: 0 auto;
    border: 1px solid black;
}

.about h1 {
    font-size: 2rem;
    font-weight: bold;
}

.about p {
    font-size: 1rem;
    letter-spacing: .15rem; 
    margin-bottom: 3%;
}

.button-group {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    outline: none;
    border: none;
    height: 35px;
    width: 100px;
    border-radius: 15px;
    text-decoration: none;
    background-color: var(--brown);
    color: #ffffff;
    cursor: pointer;
    font-size: 1.2rem;
}

.btn.lrg {
    height: 55px;
    width: 150px;
    font-size: 1.5rem;
    border-radius: 20px;
}

.circle {
    background-color: #ffffff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2%;
    transform: rotateZ(360deg) 3s ease;
}

.circle .fab {
    color: var(--brown);
    font-size: 2rem;
}

.hero-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("./images/background.JPG");
}

.hero-section h1 {
    font-size: 2rem;
    text-align: center;
    padding: 1%;
}

.market, .splits {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

.market, .splits h1 {
    font-size: 2rem;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green);
    padding: 0 5%;
}
 
.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
}

.navbar-links li a.active {
    color: var(--lightbrown);
}

.navbar-links li:hover {
    background-color: var(--brown);
    border-radius: 15px;
    transition-duration: 1s;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.splits-about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 0 5%;
}

.splits-img {
    position: relative;
    text-align: center;
    color: var(--green);
}

.splits-img img {
    width: 75%;
    opacity: .075;
    transform: rotate(20deg);
    z-index: -1;
}

.splits-img h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.splits-paragraph {
    text-align: center;
    font-size: 1.25rem;
    line-height: 30px;
    letter-spacing: 1px;
}

.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.triangle {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid var(--green);
}

/* Store Cards */ 

.paitings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.card-sale {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.paiting-card {
    width: 225px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 300px;
    margin: 5%;
}

.paiting-card p {
    font-size: 1rem;
}

.paiting-card img {
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* About section cards */

.about-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2%;
    padding: 0 5%;
}

.about-card {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-card h4 {
    font-size: 2rem;
    font-weight: bolder;
    margin: 2% auto;
}

.about-card p {
    font-size: 1.5rem;
    letter-spacing: .15rem;
}

.about-card .far, .fas {
    color: var(--green);
    font-size: 4rem;
}

/* Artist cards */

.splits-artists {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.artist-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 150px;
    flex-direction: column;
}

.artist-card h4 {
    font-size: 2rem;
}

/* login form */

.wrapper {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 10px
}
.form-hidden {
    display: none;
}

.form-input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
    margin: 10px 0;
}

.form-btn {
    margin: 10px 0;
}

.form-text a {
    color: var(--green);
}

.form-text {
    margin: 10px 0;
}


@media (min-width: 768px) {

    .about {
        margin: 0 auto;
        padding-top: 5%;
    }


    .about h1 {
        font-size: 3rem;
        letter-spacing: 5px;
        line-height: 4rem;
        text-align: center;
    }

    .about img {
        width: 50%;
    }

    .about-cards {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;
    }

    .about-card {
        height: 250px;
        width: 250px;
    }

    .about p {
        font-size: 1.5rem;
    }

    .hero-section h1 {
        font-size: 3rem;
    }

    .splits-img img {
        width: 40%;
    }

    .splits-img h1{
        font-size: 4rem;
        width: 100%;
    }

    .splits-paragraph {
        font-size: 2rem;
    }

    .splits-artists {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        transition: opacity 1s ease-out;
        opacity: 0;
        height: 0;
        overflow: hidden;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
        opacity: 1;
        height: auto;
    }
}



